<?xml version="1.0"?>
<model>
  <name>Bebop 2 with depth cam (Paparazzi)</name>
  <version>1.0</version>
  <sdf version='1.4'>bebop2_with_depth_cam.sdf</sdf>

  <!-- Modified from the "bebop2" model -->
  <author>
   <name>Piet Bouwens</name>
   <email>pietb@users.noreply.github.com</email>
  </author>

  <description>
    Simple Bebop 2 model for use with Paparazzi's NPS (http://wiki.paparazziuav.org).
  </description>
</model>
