[Desktop Entry]
Name=EquinoxGCS
Comment=Just a GCS for UAS
Exec=equinoxgcs
Terminal=false
Type=Application
Icon=equinoxgcs
StartupNotify=true
Categories=Robotics;Science;

