<?xml version="1.0"?>
<model>
  <name>Fixedwing (Paparazzi)</name>
  <version>1.0</version>
  <sdf version='1.4'>simple_fixedwing_w_camera.sdf</sdf>

  <author>
   <name>Sunyou Hwang</name>
   <email>S.Hwang-1@tudelft.nl</email>
  </author>

  <description>
    Simple Fixedwing model with front camera
  </description>
</model>