Source: ivy-qt
Priority: extra
Section: devel
Maintainer: Fabien Bonneval <fabien.bonneval@enac.fr>
Build-Depends: debhelper, cmake, qtbase5-dev
Standards-Version: 4.5.0
Homepage: https://gitlab.com/ivybus/IvyQt

Package: ivy-qt-dev
Section: libdevel
Architecture: any
Depends: ivy-qt (= ${binary:Version}), qtbase5-dev
Description: Ivy/Qt software bus. development Package
 This package is needed for compiling applications using ivy-qt.
 Ivy is mostly a communication convention between processes.
 This package allows integration of Ivy in Qt applications.

Package: ivy-qt
Section: libs
Architecture: any
Depends: ${misc:Depends}
Description: Ivy/Qt software bus. runtime Package
 Ivy is mostly a communication convention between processes.
 This package allows integration of Ivy in Qt applications.
