[Unit]
Description=CATIA MORA selectable camera service
Documentation=file:/home/air/digital_cam/documentation/html/index.html
After=local-fs.target systemd-udevd.service
RequiresMountsFor=/home/air/digital_cam
StartLimitIntervalSec=0

[Service]
Type=notify
NotifyAccess=main
User=air
Group=air
SupplementaryGroups=dialout plugdev
WorkingDirectory=/home/air/digital_cam
Environment=HOME=/home/air
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStartPre=/usr/bin/test -x /home/air/digital_cam/catia
ExecStartPre=/usr/bin/test -x /home/air/digital_cam/lwircam
ExecStartPre=/usr/bin/test -x /home/air/digital_cam/earcam
ExecStartPre=/usr/bin/test -c /dev/serial0
ExecStart=/home/air/digital_cam/catia --lwircam --earcam --earcam-band 2400,3200
Restart=always
RestartSec=3s
TimeoutStartSec=45s
KillMode=control-group
TimeoutStopSec=15s
UMask=0022

[Install]
WantedBy=multi-user.target
